
/* this phone code */
.ok_phone{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    display: none;




    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


}
.phone{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar_container_phone{
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
width: 100%;
display: flex;
align-items: center;
padding: 4px;
justify-content: space-between;
  }
  
  /*this for image start  */
  .image_container_phone{
    width: 120px;
    height: 50px;
  }
  .navbar_image_phone{
    width: 100%;
    height: 100%;
    margin-left: 30px;
  }
  /*this for image end  */

  .menu-btn {
    border: none;
    background: none;
    color: #343a40;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease; 
    margin-right: 20px;
  }
  
  .menu-btn:hover {
    transform: scale(1.1); /* Optional: Add a hover effect */
  }
  
  .menu-bar.open .menu-btn {
    transform: rotate(90deg); /* Rotate the menu icon when menu is open */
  }
  
  .navbar_phone_content{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 58px;
    min-height: 100vh;
    background-color:white;
    padding: 10px;
    overflow-x: hidden;
position: fixed;    
  }
  .register_container_phone , .compress_container_phone{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 6px;
  }
  .login_phone , .signup_phone{
    display: block;
    width: 180px;
    padding: 10px 6px 10px 6px;
    font-size: 1rem;
    border: none;
    outline: none;
  padding: none;
  cursor: pointer;
    background:transparent;
    border-radius: 8px;

  }
  .signup_phone{
    background-color: #2ecc71;
  }
  .signup_phone:hover{
    background-color: #27ae60;
  }
  .login_phone{
    color: #2ecc71;
    border: 1px solid #2ecc71;
  }
  .login_phone:hover {
    color: #343a40;
    border: 1px solid #343a40;

  }
  .convert_p_phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }
  .convert_p_p_phone{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
  
  }
  .convert_ico_show_phone , .convert_ico_phone{
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .convert_ico_show_phone{
    color: #2ecc71;
  }
  .link_container_phone{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .phone_url{
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: #343a40;
  }
  .phone_url:hover{
    color: #2ecc71;

  }
  .convert_container-links_phone , .compress_container-links_phone{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }



  @media screen and (max-width:1000px){
    .ok_phone{
        display: block;
    }    
  }